@model Ev_4_AE.Models.Equipo
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar equipo @Model.Cliente.nombre @Model.Cliente.apellidos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="alert alert-danger" role="alert">
                ¿Realmente desea eliminar?
            </div>

            <p class="card-text">

                <b>Cliente: </b> @Model.Cliente.nombre @Model.Cliente.apellidos<br />
                <b>Fecha recepción: </b> @Model.fechaRecepcion.ToShortDateString()<br />
                <b>Descripción: </b> @Model.descripcion<br />
                <b>Problema: </b> @Model.problema<br />

            </p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" onclick="eliminarAction(@Model.id)">Eliminar</button>
        </div>
    </div>
</div>
